@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'poppins', sans-serif;
  @apply antialiased
}

@layer components {
  .mono {
    font-family: 'Space Mono', monospace;
  }

  .serif {
    font-family: 'PT Serif', serif;
  }

  button:disabled {
    @apply px-3 py-2 uppercase opacity-50
  }

  .form {
    @apply flex flex-col rounded-lg gap-2 justify-evenly bg-[#ffffff] shadow-2xl py-6 px-4 h-fit w-[44vw]
  }

  .styledText {
    font-family: 'Josefin Sans', sans-serif;
  }
}
